@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  user-select: none;
}

.screen-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin: auto;
  max-width: 1240px;
}

@media screen and (max-width: 1439px) {
  .screen-max-width {
    padding: 0px 16px;
  }
}

.bg-blur {
  backdrop-filter: blur(60px);
}

.header-blur {
  backdrop-filter: blur(20px);
  z-index: 50;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}

.grid.korea {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
}

.img.long {
  grid-row: span 2 / span 2;
}

.img.wide {
  grid-column: span 2 / span 2;
}

@media screen and (max-width: 767px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid.korea {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .grid {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
  }

  .grid.korea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid.korea {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@layer base {
  @font-face {
    font-family: "Lexend Exa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    src: url("https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap");
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .nav-height {
    @apply h-[calc(100vh-60px)];
  }
  .common-padding {
    @apply sm:py-32 py-20 sm:px-10 px-5;
  }
}
